<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/car_storage</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <!--<property name="show_sql">true</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!--validate: validate the schema, makes no changes to the database.-->
        <!--update: update the schema.-->
        <!--create: creates the schema, destroying previous data.-->
        <!--create-drop: drop the schema when the SessionFactory is closed explicitly, typically when the application is stopped.-->

        <mapping resource="ru/storage/models/Car.hbm.xml"/>
        <mapping resource="ru/storage/models/CarBody.hbm.xml"/>
        <mapping resource="ru/storage/models/Transmission.hbm.xml"/>
        <mapping resource="ru/storage/models/Engine.hbm.xml"/>
        <mapping resource="ru/storage/models/Wheel.hbm.xml"/>

    </session-factory>
</hibernate-configuration>