<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.echo.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.crud.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users Controller Servlet</servlet-name>
        <servlet-class>ru.crud2.controller.ShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users Controller Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.crud2.controller.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelServlet</servlet-name>
        <servlet-class>ru.crud2.controller.DelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.crud2.controller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>